@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  color: $primary-blue;

  &:hover {
    cursor: pointer;
    color: $primary-blue
  }
}

.heading-lg {
  font-size: 74px;
  line-height: 68px;
}

.heading-reg {
  font-size: 56px;
  line-height: 68px;
}

.heading-med {
  font-size: 48px;
  line-height: 56px;
}

.heading-sm {
  font-size: 40px;
  line-height: 48px;
}

.p-reg {
  font-size: 22px;
  line-height: 34px;
}

.p-sm {
  font-size: 14px;
  line-height: 20px;
}

.title, h1 {
  color: $typography-titles;
}

.titles-h2, h2 {
  color: $typography-titles-h2;
}

.descriptions {
  color: $typography-descriptions;
}

.hints {
  color: $typography-hints;
}

.text-error {
  color: $notifications-alert;
}

.notifications-success {
  background-color: $notifications-success;
}

.notifications-alert {
  background-color: $notifications-alert;
}

.notifications-warning {
  background-color: $notifications-warning;
}

.rounded {
  border-radius: $border-radius;
}

.primary {
  color: $primary-blue;
}

.button-md {
  height: 48px;
}

.button-lg {
  height: 56px;
}

.input-error {
  border: solid 1px $notifications-alert;
}

.input-success {
  border: solid 1px $primary-blue;
}

.button-normal {
  background-color: $primary-black;
}

.button-disabled {
  background-color: $typography-hints;
}
