// Primary
$primary-blue: #2C5EF6;
$primary-navy:#394873;
$primary-navy:#394873;
$primary-violet:#BD69FF;
$primary-orange:#FFAE73;
$primary-light-blue:#DFE7FE;

// Typography
$typography-titles: #171717;
$typography-titles-h2: #333333;
$typography-descriptions: #505050;
$typography-hints: #DADAE2;

// Notifications
$notifications-success: #1FD151;
$notifications-alert: #E84141;
$notifications-warning: #F39958;

// Misc
$border-radius: 6px;
